{% extends 'padre.html' %}

{% block contenidoQueCambia %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class='mt-5' style="color: aliceblue;">Acerca de Mi</h2>
                <p id="initial-text">Bienvenidos a la pagina de CoderGym.</p>
                <p id="extra-text" class="d-none">
                    Esta pagina cuenta con un sistema de login y la posibilidad de crear nuevos clientes.
                    <br>Tenes la podibilidad de ver nuestras sedes y la lista de nuestros entrenadores que van a facilitar tu entrenamiento.
                </p>
                <div id="read-more">
                    <button id="read-more-button" class="btn btn-primary">Leer mas</button>
                </div>
            </div>
        </div>
    </div>
{% endblock contenidoQueCambia %}

