{% extends 'padre.html' %}

{% block contenidoQueCambia %}

   <!-- Process Section
   ================================================== -->
   <section id="process">  

    <div class="row section-intro">
        <div class="col-twelve with-bottom-line">

            <h5>Formulario</h5>
            <h1>Clientes</h1>

            <p class="lead">En esta pagina se pueden ver los clientes actuales del gimnasio</p>

        </div>   		
    </div>

    <div class="row process-content">

        <div class="left-side" style="width: 30%;">

            <div class="item" data-item="1" style="height: 50%">

                <h5>Agregar Cliente</h5>

                <form action="{% url 'CrearCliente' %}" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
            
                    <button type="submit">Enviar</button>
                    <button>
                        <a href="{% url 'ListarClientes' %}">Lista de Clientes</a>
                    </button>
                </form>
             
            </div>

  
        </div> <!-- /left-side -->
        
        <div class="right-side">
                
            <div class="item" data-item="3">

                <h5>Accion de Agregar</h5>

                <p>Miembros del staff del gimnacio tienen la opcion de agregar clientes nuevos al sistema </p>
                    
            </div>

            <div class="item" data-item="4">

                <h5>Detalle</h5>

                <p>En la lista de clientes hay acceso a la informacion personal de cada uno.</p>
                    
            </div>

        </div> <!-- /right-side -->  

        <div class="image-part"></div>  			

    </div> <!-- /process-content --> 

</section> <!-- /process-->    


{% endblock contenidoQueCambia %}

