<header>

    <div class="row">

        <div class="logo">
          <a href="index.html">Lhander</a>
       </div>

        <nav id="main-nav-wrap">
             <ul class="main-navigation">
                 <li class="current"><a class="smoothscroll"  href="{% url 'Inicio' %}" title="">Inicio</a></li>
                 <li><a class="smoothscroll"  href="{% url 'CrearEntrenador' %}#process" >Entrenadores</a></li>
                 <li><a class="smoothscroll"  href="#features" title="">Clientes</a></li>
                 <li><a class="smoothscroll"  href="#pricing" title="">Clases</a></li>
                 <li><a class="smoothscroll"  href="#faq" title="">Sedes</a></li>					
                 <li class="highlight with-sep"><a href="#" title="">Iniciar Sesion</a></li>					
             </ul>
         </nav>

         <a class="menu-toggle" href="#"><span>Menu</span></a>
        
    </div>   	
    
</header> <!-- /header -->
