{% extends 'padre.html' %}

{% block contenidoQueCambia %}

   <!-- features Section
   ================================================== -->
   <section id="features">

    <div class="row section-intro">
       <div class="col-twelve with-bottom-line">

           <h1>Lista de Sedes</h1>

           <p class="lead">Aca podes acceder a la lista de nuestras sedes</p>

       </div>   		
   </div>

        {% for sede in sedes %}
            <h2 style="color: aliceblue; text-align: center">{{ sede.localidad }}</h2>
            <p style="text-align: center;">{{sede.telefono }}<br></p>
            <p style="text-align: center;">{{sede.apertura }}<br></p>
            <p style="text-align: center;">{{sede.mail }}</p>
            <hr>
        {% endfor %}

    
    </section> <!-- /features -->

{% endblock contenidoQueCambia %}
